<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MasVeterinarias</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shop-homepage.css" />
</head>
<body class="bg-light">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
        <div class="container">
            <a class="navbar-brand text-info font-weight-bold " asp-controller="Home" asp-action="VIndex" style="font-size:25px">
                <img src="/images/mas.png" alt="" class="d-inline-block align-baseline">
                Veterinarias
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <form class="form-inline ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar veterinarias" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="#"> Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Veterinaria
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" asp-controller="Veterinaria" asp-action="Detalles">Administrar</a>
                            <a class="dropdown-item" asp-controller="Veterinaria" asp-action="Details">Perfil</a>
                            <a class="dropdown-item" asp-controller="Cita" asp-action="Index">Citas</a>
                            <a class="dropdown-item" asp-controller="Login" asp-action="LogOut">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

     @RenderBody()
        
    <footer class="py-5 bg-white shadow-lg">
        <div class="container">
            <p class="m-0 text-center text-dark">Copyright &copy; MasVeterinarias.com 2020</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
