<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MasVeterinarias</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
            <div class="container">
                <a class="navbar-brand text-info font-weight-bold " asp-controller="Home" asp-action="Index" style="font-size:25px">
                    <img src="/images/mas.png" alt="" class="d-inline-block align-baseline">
                    Veterinarias
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <form class="form-inline" method="post" asp-controller="Home" asp-action="Index">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar veterinarias" aria-label="Search" id="TextSearchInput">
                        <button class="btn btn-primary my-2 my-sm-0" id="ApplyTextSearchButton">Buscar</button>
                    </form>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link " asp-controller="home" asp-action="Index"> Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Login" asp-action="Index">Ingresa</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink("¡Registrate!", "Create", "Usuario", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-danger" })*@
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter">
                                ¡Registrate!
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="modal fade bd-example-modal-lg " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
            <div class="modal-content ">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <h1 class="jumbotron-heading font-weight-normal">¿Comó deseas registrarte?</h1>
                        <p class="lead text-muted"></p>
                        <p>
                            <a asp-controller="Usuario" asp-action="Create" class="btn btn-primary btn-lg my-lg-5 mr-2 font-italic">Regístrate como cliente</a>
                            <a asp-controller="Usuario" asp-action="CreateV" class="btn btn-danger btn-lg  my-lg-5 font-italic">Regístrate como veterinaria</a>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="container min-vh-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-5 bg-white shadow-lg">
        <div class="container">
            <p class="m-0 text-center text-dark">Copyright &copy; MasVeterinarias.com 2020</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
