@model MasVeterinarias.Models.Categoria

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutV";
}

<div class="container min-vh-100">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Mi Veterinaria

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Categorias</a>
        </li>
        <li class="breadcrumb-item active">Añadir</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a href="index.html" class="list-group-item">Detalles del Negocio</a>
                <a href="about.html" class="list-group-item">Personal</a>
                <a asp-controller="Categoria" asp-action="Index" class="list-group-item active">Categorias</a>
                <a asp-controller="Servicio" asp-action="Index" class="list-group-item ">Servicios</a>
                <a asp-controller="Producto" asp-action="Index" class="list-group-item ">Productos</a>


            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h3>Añadir una Categoria</h3>

            @using (Html.BeginForm())
            {

                <form>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Nombre de la Categoria:</label>
                            <input asp-for="Nombre" type="text" class="form-control" id="name" required data-validation-required-message="Porfavor escriba un Nombre.">
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                            <p class="help-block"></p>
                        </div>
                    </div>


                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Crear</button>
                    <button type="button" asp-controller="Categoria" asp-action="Index" class="btn btn-danger">Cancelar</button>
                </form>

            }



        </div>
    </div>
    <!-- /.row -->

</div>
