@model IEnumerable<MasVeterinarias.Models.Veterinaria>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container min-vh-100">

    <h1 class="my-4 text-secondary font-italic">Bienvenido</h1>
    
    @*<form class="form-inline justify-content-center my-4 " method="get" asp-action="Index">
        <div class="input-group mb-3">
            <input class="form-control " type="search" placeholder="Buscar veterinarias" value="@ViewData["GetVet"]" name="Vetsearch" style="width:400px;" >
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>*@
    
<div class="row">
    <!-- /.col-lg-3 -->
    @*
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a><img class="card-img-top" src="~/Uploads/Banners/@item.Imagen"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/Veterinaria/Details_Blog/@item.Id"> @Html.DisplayFor(modelItem => item.Nombre)</a>
                        </h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Telefono)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Direccion)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        }
    *@

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a><img class="card-img-top" src="~/Uploads/Banners/3468176.jpg"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">The Pet House</a>
                </h4>
                <p class="card-text">9993002106</p>
                <p class="card-text">Calle 42 entre 54 y 17 #401 Col. Itzimna</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a><img class="card-img-top" src="~/Uploads/Banners/planeta.png"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Planeta Animal</a>
                </h4>
                <p class="card-text">9993002106</p>
                <p class="card-text">C 37 entre 60 y 62 # 508 Centro 97000 Mérida</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
</div>
    
</div>
