@model MasVeterinarias.Models.Veterinaria

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Mi Veterinaria

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Detalles del Negocio</a>
        </li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a href="index.html" class="list-group-item active">Detalles del Negocio</a>
                <a href="about.html" class="list-group-item">Personal</a>
                <a href="services.html" class="list-group-item">Categorias</a>
                <a href="contact.html" class="list-group-item ">Servicios</a>
                <a href="portfolio-1-col.html" class="list-group-item">Productos</a>
                <a href="portfolio-2-col.html" class="list-group-item">Citas</a>

            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h3>Editar Datos</h3>
            <form asp-action="Edit" asp-controller="Veterinaria" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>
                    <input asp-for="MyFile" type="file" class="form-control" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Representante" class="control-label"></label>
                    <input asp-for="Representante" class="form-control" />
                    <span asp-validation-for="Representante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoraApertura" class="control-label"></label>
                    <input asp-for="HoraApertura" class="form-control" />
                    <span asp-validation-for="HoraApertura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoraCierre" class="control-label"></label>
                    <input asp-for="HoraCierre" class="form-control" />
                    <span asp-validation-for="HoraCierre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiasLaborales" class="control-label"></label>
                    <input asp-for="DiasLaborales" class="form-control" />
                    <span asp-validation-for="DiasLaborales" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" onclick="alert('Datos Actualizado EXITOSAMENTE')" />
                </div>
            </form>
            <div>
                <a asp-action="Detalles">Regresar</a>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>